<%= form_for @list, html: { class: 'form-inline' } do |f| %>

  <!-- Errors -->
  <%= render partial: 'errors' %>

  <!-- New List -->
  <div class='form-group'>
    <%= f.label :name, class: 'sr-only' %>
    <div class='input-group'>
      <div class='input-group-addon'>Name</div>
      <%= f.text_field :name, class: 'form-control', placeholder: '...' %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary' %>

<% end %>
