<%= form_for @list do |f| %>
  <% if @list.errors.any? %>
    <h2>
      <%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:
    </h2>

    <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
