<h2><%= @list.name %></h2>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Delete', @list, method: :delete, data: { confirm: 'Really?' } %>
<hr/>

<%= link_to 'New ToDo', new_list_todo_path(@list) %>

<ul>
  <%= render partial: 'todo',
  collection: @list.todos.order(priority: :desc) %>
</ul>
