<%= form_for [@list, @todo], html: { class: 'form-inline' } do |f| %>

  <%= render partial: 'errors' %>

  <div class='form-group'>
    <%= f.label :body, 'ToDo', class: 'sr-only' %>
    <div class='input-group'>
      <div class='input-group-addon'>ToDo</div>
      <%= f.text_field :body, class: 'form-control', placeholder: '...' %>
    </div>
    <%= f.select(:priority,
                 [['0', 0],
                  ['1', 1],
                  ['2', 2],
                  ['3', 3],
                  ['4', 4],
                  ['5', 5]], {}, class: 'form-control') %>
  </div>
  <%= f.submit button_text, class: 'btn btn-success' %>
<% end %>
