<%= form_for [@list, @todo] do |f| %>
  <% if @todo.errors.any? %>
    <h2>
      <%= pluralize(@todo.errors.count, "error") %> prohibited this ToDo from being saved:
    </h2>

    <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :body, 'ToDo' %>
  <%= f.text_field :body %>

  <%= f.label :priority %>
  <%= f.select(:priority,
               [['0', 0],
                ['1', 1],
                ['2', 2],
                ['3', 3],
                ['4', 4],
                ['5', 5]]) %>

  <%= f.submit button_text %>
<% end %>
